.form-control {
    margin-bottom: 10px;
    margin: 0 auto;
    float: none;
    margin-bottom: 20px;
}

.btn-success {
    margin-top: 20px;
}

.chord {
    border-radius: 15px;
    width: 130px;
    height: 120px;
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;

    /* Inner border css */
    -webkit-box-shadow:inset 0px 0px 0px 1px black;
    -moz-box-shadow:inset 0px 0px 0px 1px black;
    box-shadow:inset 0px 0px 0px 1px black;
}
.chord:hover {
    background-color: lavender;
}

.chordString {
    margin-top: 15px;
    font-size: 24px;
}

.chord-btn, .btn-group-vertical {
    width: 130px;
    border-radius: 15px;
}

.chord-button-top {
    border-radius: 0;
}

.chord-button-bottom {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.modifier {
    font-size: 18px;
}