<div class="col-sm-11 text-center">
  <h1 class="title">Welcome to Chord Buddy</h1>
  <h5 class="text-muted">A premiere tool and social network for sharing your best chord progressions.</h5>
  <button (click)="loginWithGoogle()" class="btn btn-large btn-primary google-login-btn">
      <i class="fab fa-google larger-logo"></i>    Login with Google
  </button>
  <br />
  <button (click)="loginWithGithub()" class="btn btn-large btn-primary github-login-btn">
      <i class="fab fa-github larger-logo"></i>    Login with Github
  </button>
</div>