.larger-logo {
    font-size: 32px;
    margin-right: 10px;
}

.btn {
    margin: 20px;
    margin-bottom: 0;
    padding: 8px;
    font-size: 22px;
    border-radius: 5px;
    width: 350px;
}

.title {
    margin-bottom: 25px;
    color: papayawhip;
    font-size: 48px;
}

.text-muted {
    color: #112D32 !important;
}

.google-login-btn {
    background-color: orangered;
    border-color: orangered;
}
.google-login-btn:hover {
    background-color: orange;
    border-color: orange;
}

.github-login-btn {
    background-color: #4F4A41;
    border-color: #4F4A41;
}
.github-login-btn:hover {
    background-color: #6E6658;
    border-color: #6E6658;
}