.form-control {
    margin-bottom: 10px;
    margin: 0 auto;
    float: none;
    margin-bottom: 20px;
}

.progression {
    border: 1px solid #254E58;
    border-radius: 5px;
    margin-bottom: 10px;
    float: none;
    margin: 0 auto;
    margin-bottom: 20px;
}

.progressionName {
    float: left;
    margin: 10px;
    font-size: 28px;
    width: 150px;
}

.progressionChords {
    float: left;
    margin-top: 50px;
    margin-left: 70px;
    width: 550px;
}

.chord {
    margin-left: 5px;
    font-size: 28px;
    height: 90px;
    float: left;
}

.chord-wrapper {
    border-radius: 5px;
    border: 1px solid lightslategrey;
    padding: 20px;
}
.chord-wrapper:hover {
    background-color: lavender;
}

.ownerString {
    float: right;
    margin-top: 10px;
}
.likeButton {
    margin-left: 92%;
    margin-bottom: 10px;
    margin-top: -50px;
}