/* You can add global styles to this file, and also import other style files */
body {
    background-color: #88BDBC !important;
    font-family: 'Niramit', sans-serif !important;
}

hr {
    display: block !important;
    height: 1px !important;
    border: 0 !important;
    border-top: 2px solid papayawhip !important;
    margin: 1em 0 !important;
    margin-left: 100px !important;
    margin-right: 100px !important;
    padding: 0 !important; 
}

.btn {
    color: papayawhip !important;
}


div {
    color: papayawhip !important;
}

.navbar-brand {
    color: papayawhip !important;
    font-size: 32px !important;
}

.navbar a {
    text-decoration: none !important;
    color: papayawhip !important;
}
a:hover {
    color: lightgray !important;
}

.chord-wrapper {
    background-color: #254E58 !important;
}
.chord-wrapper:hover {
    background-color: #112D32 !important;
}